@import "bourbon"
@import "clear"


body
  width: 100%
  overflow: hidden

.icons
  margin: auto
  margin-top: 30%
  width: 282px

.twit-div
  width: 150px
  height: 150px
  display: inline-block
  vertical-align: top
  +animation (flight 3.5s linear)


.twitter
  background: image-url('twitter-bird.png')
  width: 150px
  height: 150px
  background-size: 50% 
  background-position: center
  background-repeat: no-repeat

+keyframes(flight)
  0%
    +transform(translateY(-400%) translateX(-200%) rotate(113deg))
    +animation-timing-function (linear)
  10%
    +transform(translateY(-250%) translateX(-185%) rotate(113deg))
    +animation-timing-function (linear)
  15%
    +transform(translateY(-100%) translateX(-160%) rotate(90deg))
    +animation-timing-function (linear)
  20%
    +transform(translateY(-100%) translateX(-100%) rotate(0deg))
    +animation-timing-function (linear)
  22.5%
    +transform(translateY(-125%) translateX(-75%) rotate(-35deg))
    +animation-timing-function (linear)
  25%
    +transform(translateY(-150%) translateX(-50%) rotate(-70deg))
    +animation-timing-function (linear)
  27.5%
    +transform(translateY(-200%) translateX(-85%) rotate(-70deg))
    +animation-timing-function (linear)
  30%
    +transform(translateY(-225%) translateX(-100%) rotate(-140deg))
    +animation-timing-function (linear)
  32.5%
    +transform(translateY(-215%) translateX(-125%) rotate(-140deg))
    +animation-timing-function (linear)
  35%
    +transform(translateY(-200%) translateX(-145%) rotate(-170deg))
    +animation-timing-function (linear)
  40%
    +transform(translateY(-150%) translateX(-150%) rotate(-223deg))
    +animation-timing-function (linear)
  45%
    +transform(translateY(-100%) translateX(-100%) rotate(-327deg))
    +animation-timing-function (linear)
  55%
    +transform(translateY(-150%) translateX(0%) rotate(-360deg))
    +animation-timing-function (ease-in)
  100%
    +transform(translateY(0%) translateX(0%) rotate(-360deg))
    +animation-timing-function (ease-out)
